.img-div-main img{
    position: absolute;
    top: -30px;
    right: 0;
}
a.main-div:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    text-decoration: none;
}
.main-div{
    display: flex;
    align-items: center;
position: relative;
    height: 170px;
    /* max-width: 400px; */
    width: 100%;
    transition: all 0.3s ease;
}